* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.navbar__logos {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar__logos img {
    width: 60px;
    cursor: pointer;
}
.navbar__logos img:nth-child(2) {
    width: 100px;
}
.navbar__settings svg {
    width: 20px;
    height: 20px;
}
.navbar__settings-avatar svg {
    width: 30px;
    height: 30px;
}
.navbar {
    background: #060a1f;
}
.navbar-inner {
    max-width: 1340px;
    margin: 0 auto;
}
.navbar__menu {
    display: none;
    align-items: center;
    gap: 20px;
}
.navbar__menu-item {
    color: #8b90a5;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    transition: background 300ms ease-out;
}
.navbar__menu-item.active,
.navbar__menu-item:hover {
    color: #ffffff;
    background: #5e2ff4;
}
.navbar__settings a {
    color: #fff;
    text-decoration: none;
    transition: opacity 300ms ease-in-out;
}
.navbar__settings a:hover {
    opacity: 0.8;
}
.divider::after {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background-color: #666c82;
}
.navbar__settings-search > svg,
.navbar__settings-notify > svg,
.navbar__settings-cog > svg {
    fill: #fff;
}
.navbar__settings {
    display: flex;
    align-items: center;
    gap: 20px;
}
.main__content {
    height: 340px;
    background: #060a1f;
}
.amount__stream {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    max-width: 1240px;
    margin: 0 auto;
}
.amount__stream-balance-title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}
.amount__stream-balance-amount-text {
    font-family: "DM Mono", monospace;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-right: 20px;
}
.amount__stream-balance-amount {
    display: flex;
    align-items: baseline;
}
.amount__stream-balance-amount-info {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    margin-right: 10px;
}
.amount__stream-balance-amount .arrow__badge {
    background: #a5f407;
    margin-right: 10px;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.amount__stream-balance-amount .arrow__badge > svg {
    width: 12px;
    transform: rotate(90deg);
}
.amount__stream-analytics {
    display: flex;
    align-items: center;
    gap: 10px;
}
.amount__stream-analytics a {
    text-decoration: none;
    transition: opacity 300ms ease-in-out;
}
.amount__stream-analytics a:hover {
    opacity: 0.8;
}
.amount__stream-analytics-data {
    font-family: 'Open Sans', sans-serif;
    color: #83899e;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.amount__stream-analytics-data > svg {
    fill: #666c82;
    width: 20px;
    margin-right: 10px;
}
.amount__stream-analytics-send {
    padding: 5px 15px;
    background: #5e2ff4;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.amount__stream-analytics-send svg {
    transform: rotate(270deg);
    width: 15px;
}
.amount__stream-analytics-add {
    padding: 5px 15px;
    background: #131627;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 34px;
}
.amount__stream-analytics-add svg {
    fill: #fff;
    width: 15px;
}
.amount__stream-analytics-more {
    background: #131627;
    border-radius: 50%;
    padding: 10px;
    display: flex;
}
.amount__stream-analytics-more svg {
    fill: #fff;
    width: 15px;
}
.overview {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 40px;
    padding-bottom: 10px;
}
.overview__header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.overview__header-content {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.overview__header-image {
    background: #262b3f;
    padding: 5px;
    border-radius: 50%;
}
.overview__header-image > img {
    width: 25px;
}
.overview__header-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.overview__header-date {
    color: #63687e;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.overview__cards {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    gap: 20px;
    padding-bottom: 10px;
    overflow-x: scroll;
}
.overview__cards::-webkit-scrollbar {
    display: none;
}
.overview__cards-item {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 400px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}
.overview__cards-item {
    border-bottom: 0 solid rgba(84, 53, 185, 0.4);
    transition: all 500ms ease-in-out;
}
.overview__cards-item.show-chart {
    display: flex;
    width: 700px;
    max-width: 700px;
}
.overview__cards-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    transition: width 0.5s ease, left 0.5s ease;
}
.overview__cards-item.show-chart::after  {
    background-color: rgb(194, 179, 247);
    width: 97%;
    left: 0;
}
.overview__cards-item {
    display: flex;
}
.chart__wrapper {
    position: absolute;
    opacity: 0;
    display: none;
    flex: 1;
}
#stockChart {
    width: 100%;
}
.overview__cards-item.show-chart .chart__wrapper  {
    position: relative;
    display: block;
    opacity: 1;
}
.overview__cards-item-content {
    white-space: nowrap;
}
.overview__cards-item-text {
    display: flex;
    align-items: baseline;
}
.overview__cards-item-text .arrow__badge {
    margin-right: 5px;
    margin-left: 5px;
}
.overview__cards-item .arrow__badge > svg {
    width: 12px;
}
.overview__cards-item-text-info {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 20px;
    transition: opacity 300ms ease-in-out;
}
.overview__cards-item .overview__cards-item-text-info:last-child {
    opacity: 0;
}
.overview__cards-item.show-chart .overview__cards-item-text-info:last-child {
    color: #9da0b0;
    opacity: 1;
}
.overview__cards-item:nth-of-type(1) .arrow__badge {
    display: inline-block;
    background: #a5f407;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.overview__cards-item:nth-of-type(1) .arrow__badge > svg {
    transform: rotate(90deg);
}
.overview__cards-item:nth-of-type(2) .arrow__badge {
    display: inline-block;
    background: #dc122e;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.overview__cards-item:nth-of-type(2) .arrow__badge > svg {
    fill: #fff;
    transform: rotate(180deg);
}
.overview__cards-item-amount {
    display: flex;
    align-items: baseline;
    font-family: "DM Mono", monospace;
    color: #000;
    font-size: 35px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 20px;
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms linear;
}
.overview__cards-item.show-chart .overview__cards-item-amount .dollar-prefix {
    font-size: 17px;
    margin-top: 7px;
    margin-right: 10px;
    transform: translateY(-15px);
}
.overview__cards-item:hover .overview__cards-item-amount  {
    opacity: 0;
    transform: translateY(10%);
}
.overview__cards-item:hover.show-chart .overview__cards-item-amount  {
    opacity: 1;
    transform: translateY(0);
}
.overview__cards-item-amount .sub-amount {
    font-size: 20px;
    color: #bfc4d1;
}
.overview__cards-item-header-icon svg {
    fill: #cdd1dd;
    width: 50px;
    height: 50px;
}
.overview__cards-item-details {
    position: absolute;
    opacity: 0;
}
.overview__cards-item:hover .overview__cards-item-details {
    display: flex;
    gap: 20px;
    width: 340px;
    padding-bottom: 30px;
    border-bottom: 3px solid #cdd1dd;
    position: absolute;
    bottom: 0; 
    z-index: 999;
    color: white;
    animation: slideInFromBottom 500ms ease-out forwards;
}
.overview__cards-item:hover.show-chart .overview__cards-item-details {
    display: none;
}
.overview__cards-item-details a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    width: 100%;
    transition: all 300ms ease-in-out;
}
.overview__cards-item-details a:hover {
    background: #f7f8fc;
}
.overview__cards-item-details-icon {
    background: #5e2ff4;
    border-radius: 50%;
    padding: 12px;
    height: 36px;
    display: flex;
    cursor: pointer;
}
.overview__cards-item-details-icon svg {
    fill: #fff;
    width: 12px;
}
.overview__cards-item .close-chart {
    background: #f8f9fc;
    position: absolute;
    right: 0;
    height: 155px;
    cursor: pointer;
}
.overview__cards-item.show-chart .close-chart {
    width: 25px;
}
.overview__cards-item.show-chart .close-chart svg {
    width: 20px;
    margin-top: 50px;
}
.overview__cards-item:hover svg.tax__reserve  #firstLayer {
    animation: switchBackgroundHover 500ms forwards;
}
.overview__cards-item:hover svg.tax__reserve  #secondLayer {
    animation: moveLineDown 500ms forwards;
}
.overview__cards-item:hover svg  #thirdLayer {
    animation: moveLineUp 500ms forwards;
}
.overview__cards-item:hover svg  #wrap-line {
    animation: wrapLineHover 500ms forwards;
}
.overview__cards-item:not(:hover) svg.tax__reserve  #firstLayer {
     animation: switchBackground 500ms forwards;
}
.overview__cards-item:not(:hover) svg.tax__reserve  #secondLayer {
    animation: shrinkUp 500ms forwards;
}
.overview__cards-item:not(:hover) svg  #thirdLayer {
    animation: shrinkDown 500ms forwards;
}
.overview__cards-item:not(:hover) svg #wrap-line {
    animation: wrapLine 500ms forwards;
}
.transactions__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
    max-width: 1240px;
    margin: 180px auto 40px auto;
}
.transactions__wrapper  > .transactions__wrapper-recent,
.transactions__wrapper > .transactions__wrapper-cash {
    flex: 1;
    width: 100%;
}
.transactions__wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e9ed;
}
.transactions__wrapper-header-title {
    display: flex;
    align-items: baseline;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.transactions__wrapper-header-content img {
    width: 20px;
    margin-right: 5px;
}
.transactions__wrapper-header-title span {
    font-family: 'Open Sans', sans-serif;
    color: #8d8e95;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
}
.transactions__wrapper-header .more__link {
    font-family: 'Open Sans', sans-serif;
    color: #5e2ff4;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
}
.transactions__wrapper-header .more__link:hover {
    text-decoration: underline;
}
.transactions__wrapper-header-content {
    display: flex;
    align-items: center;
}
.transactions__wrapper-cash-content-item {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #e7e9ed;
}
.transactions__wrapper-cash-content-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    transition: all 300ms ease-in-out;
}
.transactions__wrapper-cash-content-item-inner:hover {
    background: #f8f9fc;
    padding: 10px 10px 10px 10px;
}
.transactions__wrapper-cash-content-item-inner:hover .transactions__wrapper-cash-content-item-tag {
    background: #fff;
}
.transactions__wrapper-cash-content-item-icon svg {
    width: 25px;
}
.transactions__wrapper-cash-content-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.transactions__wrapper-cash-content-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #091f39;
    width: 30px;
    height: 30px;
}
.transactions__wrapper-cash-content-item-icon.stripe {
    background: #091f39;
}
.transactions__wrapper-cash-content-item-icon.stripe svg {
    fill: #ffffff;
}
.transactions__wrapper-cash-content-item-title-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}
.transactions__wrapper-cash-content-item-title-text  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-content-item-title-date {
    font-family: 'Open Sans', sans-serif;
    color: #aeb0b6;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
}
.transactions__wrapper-cash-content-item-tag {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    background: #f8f9fc;
}
.transactions__wrapper-cash-content-item-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-content-item-amount.success {
    color: #206359;
}
.transactions__wrapper-cash-content-item-amount .sub-amount {
    font-size: 12px;
    color: #909198;
}
.transactions__wrapper-cash-content-item-amount.success .sub-amount  {
    color: #b7d6d1;
}
.transactions__wrapper-cash-content-item-icon.dropbox {
    background: #010f47;
}
.transactions__wrapper-cash-content-item-icon.dropbox svg {
    fill: #cad4fe;
}
.transactions__wrapper-cash-content-item-icon.zendesk {
    background: #033036;
}
.transactions__wrapper-cash-content-item-icon.zendesk svg {
    fill: #ffffff;
    width: 20px;
}
.transactions__wrapper-cash-content-item-icon.spotify {
    background: #000000;
}
.transactions__wrapper-cash-content-item-icon.spotify svg {
    fill: #ffffff;
    width: 25px;
}
.transactions__wrapper-cash-money {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.transactions__wrapper-cash-money-item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #b8bcc6;
}
.transactions__wrapper-cash-money-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #b8bcc6;
    transition: width 0.5s ease, left 0.5s ease;
}
.transactions__wrapper-cash-money-item.active::after {
    background-color: #000;
    width: 100%;
    left: 0;
}
.transactions__wrapper-cash-money-item h2 {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
.transactions__wrapper-cash-money-item-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
}
.transactions__wrapper-cash-money-item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.transactions__wrapper-cash-money-item-content-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.transactions__wrapper-cash-money-item:hover .transactions__wrapper-cash-money-item-content .arrowIcon {
   animation: flipArrow 200ms linear;
}
.transactions__wrapper-cash-money-item:hover .transactions__wrapper-cash-money-item-content .curveIcon {
    animation: shrinkCashCurve 500ms forwards;
}
.transactions__wrapper-cash-money-item.active:hover .transactions__wrapper-cash-money-item-content .curveIcon {
    animation: shrinkCashCurveHover 500ms forwards;
}
.transactions__wrapper-cash-money-item:active .transactions__wrapper-cash-money-item-content .curveIcon {
    animation: shrinkCashCurveActive 2s forwards;
    transition-delay: 1s;
}
.transactions__wrapper-cash-money-item:nth-of-type(2) .transactions__wrapper-cash-money-item-content .arrowIcon,
.transactions__wrapper-cash-money-item:nth-of-type(2):hover .transactions__wrapper-cash-money-item-content .arrowIcon {
    transform: rotate(180deg) translateY(17px);
    transform-origin: inherit;
}
.transactions__wrapper-cash-money-item:nth-of-type(2).active .transactions__wrapper-cash-money-item-content .arrowIcon{
    transform: rotate(0) translateY(0);
    transform-origin: inherit;
}
.transactions__wrapper-cash-money-item-content svg circle {
    fill: #D6D9E4;
}
.transactions__wrapper-cash-money-item.active .transactions__wrapper-cash-money-item-content svg circle,
.transactions__wrapper-cash-money-item:hover .transactions__wrapper-cash-money-item-content svg circle {
    fill: #151B30;
}
.transactions__wrapper-cash-money-item-content svg {
    width: 40px;
    height: 40px;
}
.transactions__wrapper-cash-money-item .transactions__wrapper-cash-money-item-content-icon {
    background: #d8dce7;
}
.transactions__wrapper-cash-money-item.active .transactions__wrapper-cash-money-item-content-icon {
    background: #000;
}
.transactions__wrapper-cash-money-item-content-icon svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.transactions__wrapper-cash-money-item .transactions__wrapper-cash-money-item-content-icon svg {
    transform: rotate(224deg);
}
.transactions__wrapper-cash-money-item.active .transactions__wrapper-cash-money-item-content-icon svg {
    transform: rotate(45deg);
}
.transactions__wrapper-cash-money-item-content-text {
    display: flex;
    flex-direction: column;
}
.transactions__wrapper-cash-money-item h2 {
    color: #8a8b92;
}
.transactions__wrapper-cash-money-item-amount {
    color: #676a78;
}
.transactions__wrapper-cash-money-item-amount .sub-amount {
    color: #c0c4ce;
}
.transactions__wrapper-cash-money-item.active .transactions__wrapper-cash-money-item-amount {
    color: #000;
}
.transactions__wrapper-cash-money-item.active h2 {
    color: #000;
}
.transactions__wrapper-cash-money-stream {
    padding: 0 10px;
}
.transactions__wrapper-cash-money-stream-item {
    padding-top: 20px;
}
.transactions__wrapper-cash-money-stream-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions__wrapper-cash-money-stream-item-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.transactions__wrapper-cash-money-stream-item-header-content > h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-money-stream-item-header-content .cash-badge {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    background: #f7f8fc;
}
.transactions__wrapper-cash-money-stream-item-header-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-money-stream-item-header-amount .sub-amount {
    font-size: 12px;
    opacity: 0.4;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon {
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.stripe {
    background: #b4a4f8;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.crypto {
    background: #94e2f6;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.wire {
    background: #f5b8d4;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg {
    width: 12px;
    transform: rotate(180deg);
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg #rect1 {
    fill: none;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg #triangle {
    fill: #fff;
}
.transactions__wrapper-cash-money-stream-item-progress {
    background-image: url('../images/strip_lines.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 8px;
    margin-top: 10px;
}
.transactions__wrapper-cash-money-stream-item-progress.stripe .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #b4a4f8;
    height: 6px;
    animation: loadProgressBarStripe 1s forwards;
}
.transactions__wrapper-cash-money-stream-item-progress.crypto .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #94e2f6;
    animation: loadProgressBarCrypto 1s forwards;
    height: 8px;
}
.transactions__wrapper-cash-money-stream-item-progress.wire .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #f5b8d4;
    animation: loadProgressBarWire 1s forwards;
    height: 8px;
}
 .overview__cards-item-header-icon .business__savings #firstLayer,
 .overview__cards-item-header-icon .business__savings #secondLayer {
    transition: all 300ms ease-in-out;
}
.overview__cards-item:nth-of-type(3) .overview__cards-item-header-icon svg.business__savings #bg {
    animation: businessSavingsDefault 500ms forwards;
}
.overview__cards-item:nth-of-type(3):hover .overview__cards-item-header-icon svg.business__savings #bg {
    animation: businessSavingsHover 500ms forwards;
}
.overview__cards-item:nth-of-type(3) .overview__cards-item-header-icon .business__savings #firstLayer {
    animation: businessSavingsLayer1Default 500ms forwards;
}
.overview__cards-item:nth-of-type(3) .overview__cards-item-header-icon .business__savings #secondLayer {
    animation: businessSavingsLayer2Default 500ms forwards;
}
.overview__cards-item:nth-of-type(3) .overview__cards-item-header-icon .business__savings #thirdLayer {
    animation: businessSavingsLayer3Default 500ms forwards;
}
.overview__cards-item:nth-of-type(3) .overview__cards-item-header-icon .business__savings #fourthLayer {
    animation: businessSavingsLayer4Default 500ms forwards;
}
.overview__cards-item:nth-of-type(3):hover .overview__cards-item-header-icon .business__savings #firstLayer {
    animation: businessSavingsLayer1Hover 500ms forwards;
}
.overview__cards-item:nth-of-type(3):hover .overview__cards-item-header-icon .business__savings #secondLayer {
    animation: businessSavingsLayer2Hover 500ms forwards;
}
.overview__cards-item:nth-of-type(3):hover .overview__cards-item-header-icon .business__savings #thirdLayer {
    animation: businessSavingsLayer3Hover 500ms forwards;
}
.overview__cards-item:nth-of-type(3):hover .overview__cards-item-header-icon .business__savings #fourthLayer {
    animation: businessSavingsLayer4Hover 500ms forwards;
}
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business svg #roundHead {
    transform: translateY(0);
    transition: transform 300ms linear;
}
.overview__cards-item:nth-of-type(1):hover .overview__cards-item-header-icon.business svg #roundHead {
    transform: translateY(15px);
}
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business {
    position: relative;
    width: 50px;
    max-width: 50px;
    overflow: hidden;
}
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business svg#default,
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business svg#hover {
    transition: opacity 500ms linear;
}
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business svg#hover {
    position: relative;
    opacity: 1;
}
.overview__cards-item:nth-of-type(1) .overview__cards-item-header-icon.business svg#hover {
    position: absolute;
    opacity: 0;
}
.overview__cards-item:nth-of-type(1):hover .overview__cards-item-header-icon.business svg#default {
    position: absolute;
    opacity: 0;
}
.overview__cards-item:nth-of-type(1):hover .overview__cards-item-header-icon.business svg#hover {
    position: relative;
    opacity: 1;
}
.navbar__logos > img:nth-of-type(2) {
    display: none;
}
.chart__overlay {
    width: 34px;
    height: 150px;
    background: #fff;
    position: absolute;
    bottom: 35px;
}
#myChart {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.transactions__wrapper-header-content svg {
    width: 15px;
    margin-right: 10px;
}
.amount__stream-analytics .divider,
.amount__stream-analytics .amount__stream-analytics-more {
    display: none;
}
@media(min-width: 768px) {
    .transactions__wrapper-cash-money-stream-item-progress.stripe .transactions__wrapper-cash-money-stream-item-progress-w {
        height: 8px;
    }
    .amount__stream-analytics .divider,
    .amount__stream-analytics .amount__stream-analytics-more {
        display: block;
    }
}
@media(min-width:820px) {
    .navbar__logos > img:nth-of-type(2) {
        display: block;
    }
    .amount__stream {
        flex-direction: row;
    }
    .transactions__wrapper {
        flex-direction: row;
    }
    .transactions__wrapper-cash-content-item-title {
        gap: 20px;
    }
    .transactions__wrapper-cash-content-item-icon {
        width: 40px;
        height: 40px;
    }
    .transactions__wrapper-cash-content-item-title-date {
        font-size: 14px;
    }
    .amount__stream-balance-amount-text {
        font-size: 45px;
    }
    .transactions__wrapper-cash-content-item-tag {
        padding: 10px;
    }
    .transactions__wrapper-cash-money-stream {
        padding: 0 20px;
    }
    .transactions__wrapper-cash-money-item-content {
        gap: 20px;
        padding-left: 20px;
    }
    .transactions__wrapper-cash-money-item-amount {
        font-size: 20px;
    }
    .transactions__wrapper  > .transactions__wrapper-recent,
    .transactions__wrapper > .transactions__wrapper-cash {
        flex: 1;
    }
    .overview__cards-item {
        padding: 30px;
    }
    .amount__stream-analytics {
        gap: 20px;
    }
    .transactions__wrapper-header-content img {
        width: 25px;
    }
    .transactions__wrapper-header-content svg {
        width: 20px;
    }
    .overview__cards-item-amount {
        font-size: 40px;
    }
}
@media(min-width: 1024px) {
    .navbar__menu {
        display: flex;
    }
    .amount__stream {
        align-items: flex-end;
    }
}
@media(min-width: 1440px) {
    .amount__stream {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        gap: unset;
    }
    .navbar-inner {
        padding: 20px 0;
    }
    .overview {
        margin-left: 100px;
    }
    .transactions__wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
@media(min-width: 1441px) {
    .overview {
        margin-left: auto;
        max-width: 1240px;
    }
}
/*.overview__cards-item:nth-of-type(2) .overview__cards-item-header-icon {
    display: inline-block;
    background: #d2d6e2;
    padding: 5px;
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0% 100%);
}*/
/* Keyframe animation */
@keyframes wrapLine {
    from {
      fill: #cdd1dd;
    }
    to {
      fill: #cdd1dd;
    }
}
@keyframes wrapLineHover {
    from {
      fill: #cdd1dd;
    }
    to {
      fill: #f2d6c3;
    }
}
@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0; 
    }
    to {
      transform: translateY(0); 
      opacity: 1; 
    }
}
@keyframes switchBackground {
    from {
        fill: #D5DAE4;
    }
    to {
        fill: #D5DAE4;
    }
}
@keyframes switchBackgroundHover {
    from {
        fill: #D5DAE4;
    }
    to {
        fill: #fcdabf;
    }
}
@keyframes moveLineDown {
    from {
        transform: scaleX(1);
        transform-origin: 18px 8px;
        stroke: #A8ABB7;
    }
    to {
        transform: scaleX(0.5);
        transform-origin: 18px 8px;
        stroke: #fcdabf;
    }
}
@keyframes shrinkUp {
    from {
        transform: scaleX(0.5);
        transform-origin: 18px 8px;
    }
    to {
        transform: scaleX(1);
        transform-origin: 18px 8px;
    }
}
@keyframes moveLineUp {
    from {
        transform: scaleX(0.5);
        transform-origin: 18px 8px;
        stroke: #242438;
    }
    to {
        transform: scaleX(1);
        transform-origin: 18px 8px;
        stroke: #df751f;
    }
}
@keyframes shrinkDown {
    from {
        stroke: #df751f;
        transform: scaleX(1);
        transform-origin: 18px 8px;
    }
    to {
        stroke: #242438;
        transform: scaleX(0.5);
        transform-origin: 18px 8px;
    }
}
@keyframes businessSavingsDefault {
    from {
        fill: #fce0ed;
    }
    to {
        fill: #D8DBE6;
    }
}
@keyframes businessSavingsHover {
    from {
        fill: #D8DBE6;
    }
    to {
        fill: #fce0ed;
    }
}
@keyframes businessSavingsLayer1Default {
    from {
        fill: #facde1;
    }
    to {
        fill: #fff;
    }
}
@keyframes businessSavingsLayer1Hover {
    from {
        fill: #fff;
    }
    to {
        fill: #facde1;
    }
}
@keyframes businessSavingsLayer2Default {
    from {
        fill: #fff;
        transform: translateY(5px);
    }
    to {
        fill: #fff;
        transform: translateY(0);
    }
}
@keyframes businessSavingsLayer2Hover {
    from {
        fill: #fff;
        transform: translateY(0);
    }
    to {
        fill: #facde1;
        transform: translateY(5px);
    }
}
@keyframes businessSavingsLayer3Default {
    from {
        fill: #fff;
        transform: translateY(8px);
    }
    to {
        fill: #fff;
        transform: translateY(0);
    }
}
@keyframes businessSavingsLayer3Hover {
    from {
        fill: #fff;
        transform: translateY(0);
    }
    to {
        fill: #db659d;
        transform: translateY(8px);
    }
}
@keyframes businessSavingsLayer4Default {
    from {
        fill: #060A23;
    }
    to {
        fill: #060A23;
    }
}
@keyframes businessSavingsLayer4Hover {
    from {
        fill: #060A23;
    }
    to {
        fill: #fff;
    }
}
@keyframes loadProgressBarStripe {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
@keyframes loadProgressBarCrypto {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}
@keyframes loadProgressBarWire {
    from {
        width: 0;
    }
    to {
        width: 6%;
    }
}
@keyframes flipArrow {
    from {
        transform: translateY(-100%);
    }
    40% {
        transform: translateY(-40%);
    }
    80% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shrinkCashCurve {
    from {
        stroke: #fff;
        stroke-width: 0;
    }
    to {
        stroke: #000;
        stroke-width: 2;
    }
}
@keyframes shrinkCashCurveHover {
    from {
        stroke: #fff;
        stroke-width: 0;
    }
    to {
        stroke: #fff;
        stroke-width: 5;
    }
}
@keyframes shrinkCashCurveActive {
    from {
        stroke: #fff;
        stroke-width: 4;
    }
    to {
        stroke: #fff;
        stroke-width: 0;
    }
}