* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar__logos {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar__logos img {
    width: 60px;
    cursor: pointer;
}
.navbar__logos img:nth-child(2) {
    width: 100px;
}
.navbar__settings svg {
    width: 20px;
    height: 20px;
}
.navbar__settings-avatar svg {
    width: 30px;
    height: 30px;
}
.navbar {
    background: #060a1f;
}
.navbar-inner {
    max-width: 1340px;
    margin: 0 auto;
}
.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar__menu-item {
    color: #666c82;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    transition: background 300ms ease-out;
}
.navbar__menu-item.active,
.navbar__menu-item:hover {
    color: #ffffff;
    background: #5e2ff4;
}
.navbar__settings a {
    color: #fff;
    text-decoration: none;
    transition: opacity 300ms ease-in-out;
}
.navbar__settings a:hover {
    opacity: 0.8;
}
.divider::after {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background-color: #666c82;
}
.navbar__settings-search > svg,
.navbar__settings-notify > svg,
.navbar__settings-cog > svg {
    fill: #fff;
}
.navbar__settings {
    display: flex;
    align-items: center;
    gap: 20px;
}
.main__content {
    height: 340px;
    background: #060a1f;
}
.amount__stream {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 60px;
}
.amount__stream-balance-title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}
.amount__stream-balance-amount-text {
    font-family: "DM Mono", monospace;
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    margin-right: 20px;
}
.amount__stream-balance-amount {
    display: flex;
    align-items: baseline;
}
.amount__stream-balance-amount-info {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    margin-right: 10px;
}
.amount__stream-balance-amount .arrow__badge {
    background: #a5f407;
    margin-right: 10px;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.amount__stream-balance-amount .arrow__badge > svg {
    width: 12px;
    transform: rotate(90deg);
}
.amount__stream {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.amount__stream-analytics {
    display: flex;
    align-items: center;
    gap: 20px;
}
.amount__stream-analytics a {
    text-decoration: none;
    transition: opacity 300ms ease-in-out;
}
.amount__stream-analytics a:hover {
    opacity: 0.8;
}
.amount__stream-analytics-data {
    font-family: 'Open Sans', sans-serif;
    color: #666c82;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.amount__stream-analytics-data > svg {
    fill: #666c82;
    width: 20px;
    margin-right: 10px;
}
.amount__stream-analytics-send {
    padding: 5px 15px;
    background: #5e2ff4;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.amount__stream-analytics-send svg {
    transform: rotate(270deg);
    width: 15px;
}
.amount__stream-analytics-add {
    padding: 5px 15px;
    background: #131627;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 34px;
}
.amount__stream-analytics-add svg {
    fill: #fff;
    width: 15px;
}
.amount__stream-analytics-more {
    background: #131627;
    border-radius: 50%;
    padding: 10px;
    display: flex;
}
.amount__stream-analytics-more svg {
    fill: #fff;
    width: 15px;
}
.overview {
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 40px;
    padding-bottom: 10px;
}
.overview__header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.overview__header-content {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.overview__header-image {
    background: #262b3f;
    padding: 5px;
    border-radius: 50%;
}
.overview__header-image > img {
    width: 25px;
}
.overview__header-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.overview__header-date {
    color: #666c82;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.overview__cards {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    gap: 20px;
    padding-bottom: 10px;
    overflow-x: scroll;
}
.overview__cards::-webkit-scrollbar {
    display: none;
}
.overview__cards-item {
    position: relative;
    background: #fff;
    padding: 30px;
    width: 400px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}
.overview__cards-item {
    border-bottom: 0 solid rgba(84, 53, 185, 0.4);
    transition: all 500ms ease-in-out;
}
.overview__cards-item.show-chart {
    display: flex;
    width: 700px;
    max-width: 700px;
    border-bottom: 4px solid rgba(84, 53, 185, 0.4);
}
.chart__wrapper {
    position: absolute;
    opacity: 0;
}
.overview__cards-item.show-chart .chart__wrapper  {
    position: relative;
    opacity: 1;
}
.overview__cards-item-content {
    width: 100%;
}
.overview__cards-item .arrow__badge > svg {
    width: 12px;
}
.overview__cards-item-text-info {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 20px;
    transition: opacity 300ms ease-in-out;
}
.overview__cards-item .overview__cards-item-text-info:last-child {
    opacity: 0;
}
.overview__cards-item.show-chart .overview__cards-item-text-info:last-child {
    color: #cdd1dd;
    opacity: 1;
}
.overview__cards-item:nth-of-type(1) .arrow__badge {
    display: inline-block;
    background: #a5f407;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.overview__cards-item:nth-of-type(1) .arrow__badge > svg {
    transform: rotate(90deg);
}
.overview__cards-item:nth-of-type(2) .arrow__badge {
    display: inline-block;
    background: #dc122e;
    width: 25px;
    text-align: center;
    border-radius: 8px;
}
.overview__cards-item:nth-of-type(2) .arrow__badge > svg {
    fill: #fff;
    transform: rotate(180deg);
}
.overview__cards-item-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 20px;
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms linear;
}
.overview__cards-item:hover .overview__cards-item-amount  {
    opacity: 0;
    transform: translateY(10%);
}
.overview__cards-item:hover.show-chart .overview__cards-item-amount  {
    opacity: 1;
    transform: translateY(0);
}
.overview__cards-item-amount .sub-amount {
    font-size: 20px;
    color: #b8bcc6;
}
.overview__cards-item-header-icon svg {
    fill: #cdd1dd;
    width: 50px;
    height: 50px;
}
.overview__cards-item-details {
    position: absolute;
    opacity: 0;
}
.overview__cards-item:hover .overview__cards-item-details {
    display: flex;
    gap: 20px;
    width: 340px;
    padding-bottom: 30px;
    border-bottom: 3px solid #cdd1dd;
    position: absolute;
    bottom: 0; 
    z-index: 999;
    color: white;
    animation: slideInFromBottom 500ms ease-out forwards;
}
.overview__cards-item:hover.show-chart .overview__cards-item-details {
    display: none;
}
.overview__cards-item-details a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    width: 100%;
    transition: all 300ms ease-in-out;
}
.overview__cards-item-details a:hover {
    background: #f7f8fc;
}
.overview__cards-item-details-icon {
    background: #5e2ff4;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    cursor: pointer;
}
.overview__cards-item-details-icon svg {
    fill: #fff;
    width: 12px;
}
.overview__cards-item .close-chart {
    background: #f7f8fc;
    position: absolute;
    right: 0;
    height: 130px;
    cursor: pointer;
}
.overview__cards-item.show-chart .close-chart {
    width: 20px;
}
.overview__cards-item.show-chart .close-chart svg {
    width: 20px;
    margin-top: 50px;
}
.overview__cards-item:hover svg  #first-line {
    animation: moveLineDown 500ms forwards;
}
.overview__cards-item:hover svg  #second-line {
    animation: moveLineUp 500ms forwards;
}
.overview__cards-item:hover svg  #wrap-line {
    animation: wrapLineHover 500ms forwards;
}
.overview__cards-item:not(:hover) svg  #first-line {
    animation: shrinkUp 500ms forwards;
}
.overview__cards-item:not(:hover) svg  #second-line {
    animation: shrinkDown 500ms forwards;
}
.overview__cards-item:not(:hover) svg #wrap-line {
    animation: wrapLine 500ms forwards;
}
.transactions__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
    max-width: 1240px;
    margin: 140px auto 40px auto;
}
.transactions__wrapper  > .transactions__wrapper-recent,
.transactions__wrapper > .transactions__wrapper-cash {
    flex: 1;
}
.transactions__wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #b8bcc6;
}
.transactions__wrapper-header-title {
    display: flex;
    align-items: baseline;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.transactions__wrapper-header-content  img {
    width: 30px;
    margin-right: 10px;
}
.transactions__wrapper-header-title span {
    font-family: 'Open Sans', sans-serif;
    color: #676c77;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
}
.transactions__wrapper-header .more__link {
    font-family: 'Open Sans', sans-serif;
    color: #5e2ff4;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
}
.transactions__wrapper-header .more__link:hover {
    text-decoration: underline;
}
.transactions__wrapper-header-content {
    display: flex;
    align-items: center;
}
.transactions__wrapper-cash-content-item {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #b8bcc6;
}
.transactions__wrapper-cash-content-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    transition: all 300ms ease-in-out;
}
.transactions__wrapper-cash-content-item-inner:hover {
    background: #F7F8FC;
    padding: 10px 10px 10px 10px;
}
.transactions__wrapper-cash-content-item-icon svg {
    width: 25px;
}
.transactions__wrapper-cash-content-item-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.transactions__wrapper-cash-content-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #091f39;
    width: 40px;
    height: 40px;
}
.transactions__wrapper-cash-content-item-icon.stripe {
    background: #091f39;
}
.transactions__wrapper-cash-content-item-icon.stripe svg {
    fill: #ffffff;
}
.transactions__wrapper-cash-content-item-title-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}
.transactions__wrapper-cash-content-item-title-text  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-content-item-title-date {
    font-family: 'Open Sans', sans-serif;
    color: #676c77;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
}
.transactions__wrapper-cash-content-item-tag {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    background: #f7f8fc;
}
.transactions__wrapper-cash-content-item-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-content-item-amount.success {
    color: #326f63;
}
.transactions__wrapper-cash-content-item-amount  .sub-amount {
    font-size: 12px;
    opacity: 0.4;
}
.transactions__wrapper-cash-content-item-amount.success .sub-amount  {
    opacity: 0.6;
}
.transactions__wrapper-cash-content-item-icon.dropbox {
    background: #010f47;
}
.transactions__wrapper-cash-content-item-icon.dropbox svg {
    fill: #cad4fe;
}
.transactions__wrapper-cash-content-item-icon.zendesk {
    background: #033036;
}
.transactions__wrapper-cash-content-item-icon.zendesk svg {
    fill: #ffffff;
    width: 20px;
}
.transactions__wrapper-cash-content-item-icon.spotify {
    background: #000000;
}
.transactions__wrapper-cash-content-item-icon.spotify svg {
    fill: #ffffff;
    width: 25px;
}
.transactions__wrapper-cash-money {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.transactions__wrapper-cash-money-item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #b8bcc6;
}
.transactions__wrapper-cash-money-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #b8bcc6;
    transition: width 0.5s ease, left 0.5s ease;
}
.transactions__wrapper-cash-money-item.active::after {
    background-color: #000;
    width: 100%;
    left: 0;
}
.transactions__wrapper-cash-money-item > h2 {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
.transactions__wrapper-cash-money-item-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
}
.transactions__wrapper-cash-money-item > h2,
.transactions__wrapper-cash-money-item-amount {
    color: #b8bcc6;
}
.transactions__wrapper-cash-money-item.active .transactions__wrapper-cash-money-item-amount {
    color: #000;
}
.transactions__wrapper-cash-money-item.active > h2 {
    color: #000;
}
.transactions__wrapper-cash-money-stream {
    padding: 0 20px;
}
.transactions__wrapper-cash-money-stream-item {
    padding-top: 20px;
}
.transactions__wrapper-cash-money-stream-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions__wrapper-cash-money-stream-item-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.transactions__wrapper-cash-money-stream-item-header-content > h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-money-stream-item-header-content .cash-badge {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    background: #f7f8fc;
}
.transactions__wrapper-cash-money-stream-item-header-amount {
    font-family: "DM Mono", monospace;
    color: #000;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
}
.transactions__wrapper-cash-money-stream-item-header-amount .sub-amount {
    font-size: 12px;
    opacity: 0.4;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon {
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.stripe {
    background: #b4a4f8;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.crypto {
    background: #94e2f6;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon.wire {
    background: #f5b8d4;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg {
    width: 12px;
    transform: rotate(180deg);
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg #rect1 {
    fill: none;
}
.transactions__wrapper-cash-money-stream-item-header-content-icon svg #triangle {
    fill: #fff;
}
.transactions__wrapper-cash-money-stream-item-progress {
    background-image: url('../images/strip_lines.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 8px;
    margin-top: 10px;
}
.transactions__wrapper-cash-money-stream-item-progress.stripe .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #b4a4f8;
    height: 8px;
    animation: loadProgressBarStripe 1s forwards;
}
.transactions__wrapper-cash-money-stream-item-progress.crypto .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #94e2f6;
    animation: loadProgressBarCrypto 1s forwards;
    height: 8px;
}
.transactions__wrapper-cash-money-stream-item-progress.wire .transactions__wrapper-cash-money-stream-item-progress-w {
    background: #f5b8d4;
    animation: loadProgressBarWire 1s forwards;
    height: 8px;
}
@media(min-width: 1441px) {
    .overview {
        margin-left: auto;
    }
}
/*.overview__cards-item:nth-of-type(2) .overview__cards-item-header-icon {
    display: inline-block;
    background: #d2d6e2;
    padding: 5px;
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0% 100%);
}*/
/* Keyframe animation */
@keyframes wrapLine {
    from {
      fill: black
    }
    to {
      fill: black;
    }
}
@keyframes wrapLineHover {
    from {
      fill: black
    }
    to {
      fill: orange;
    }
}
@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0; 
    }
    to {
      transform: translateY(0); 
      opacity: 1; 
    }
}
@keyframes moveLineDown {
    from {
        transform: scaleX(2);
        transform-origin: 7px 8px;
    }
    to {
        transform: scaleX(1);
        transform-origin: 7px 8px;
    }
}
@keyframes shrinkUp {
    from {
        transform: scaleX(1);
        transform-origin: 7px 8px;
    }
    to {
        transform: scaleX(2);
        transform-origin: 7px 8px;
    }
}
@keyframes moveLineUp {
    from {
        fill: #000;
        transform: scaleX(0.5);
        transform-origin: 7px 8px;
    }
    to {
        fill: orange;
        transform: scaleX(1);
        transform-origin: 7px 8px;
    }
}
@keyframes shrinkDown {
    from {
        transform: scaleX(1);
        transform-origin: 7px 8px;
    }
    to {
        fill: #000;
        transform: scaleX(0.5);
        transform-origin: 7px 8px;
    }
}
@keyframes loadProgressBarStripe {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}
@keyframes loadProgressBarCrypto {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}
@keyframes loadProgressBarWire {
    from {
        width: 0;
    }
    to {
        width: 6%;
    }
}